
.navbar{
    background-color: transparent;
    padding: 20px 10%;
    border-bottom: 2px solid rgba(255,255,255,.15);
    position: relative;
    display: flex;
    align-items: center;
    ul{
        list-style-type: none;
        padding: 27px 17px 10px 0;
        margin: 0;
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }
    li{
        display: inline-block;
    }
    a::after{
        display:block;
        content: '';
        border-bottom: 2px solid #ed4848;  
        transform: scaleX(0);  
        transition: transform 250ms ease-in-out;
    }
    a{
        padding: 10px 15px;
        text-decoration: none;
        color:white;
        display: block;
        transition: border 0.3s;
        
        &:hover::after{
            transform: scaleX(1);
        }
    }
}